@import '../../styles/settings.scss';

.card_list {
    margin-top: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background: $background-color;
    border-radius: 25px;
  }
  
.card_img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

.card_container {
    display: flex;
    position: relative;
    margin: 1rem;
  }

.card_text {
    position: absolute;
    bottom: 10px;
    left: 1rem;
    color: white;
    font-size: 18px;
  }

// Media Queries Mobile

@media (max-width: 1024px) {
  .card_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Media Queries Mobile

@media (max-width: 850px) {
  .card_list {
    grid-template-columns: repeat(1, 1fr);
    background: none;
    padding: 0;
  }
}