@import "../../../styles/settings.scss";

#location {

    .location {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .location_title {
            margin-top: 1rem;
            margin-bottom: 0;
            font-size: 36px;
        }
    
        .location_localisation {
            margin: 1rem 0 1rem 0;
        }
    
        .location_tags {
            display: flex;
            margin: 1rem 0 1rem 0;
            
            .location_tag {
                font-size: 14px;
                background: #FF6060;
                border-radius: 10px;
                padding: 0.2rem;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                margin: 0.2rem;
                color:#F7F7F7;
            }
        }

        .host_info {
            display: flex;
            justify-content: flex-end;
            margin: 1rem;

            .host_name {
                font-size: 18px;
                margin: 1rem;
            }

            .host_pic {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }

            .location_rating {
                display: flex;
                margin-top: 1rem;
             }
        }
     }

    .location_btnlist {
        display: flex;
        justify-content: space-between;
        margin: 3rem auto;
    }

    .location_btn {
        width: 100%;
        max-width: 582px;
    }

     .location_equipment {
        line-height: 142.6%;
        list-style: none;
     }
}

// Media Queries Mobile

@media (max-width: 850px) {
    #location {

        .location {
            grid-template-columns: repeat(1, 1fr);

            .location_title {
                font-size: 18px;
                font-weight: normal;
            }

            .location_localisation {
                font-size: 14px;
                margin: 1rem 0 1rem 0;
            }

            .location_tags {

                .location_tag {
                    font-size: 10px;
                }
            }

            .host_info {}
        }

        .location_btnlist {
            flex-direction: column;
        }

    }
}