@import "../../../styles/settings.scss";

#location {

    .location_title {
        margin-bottom: 0;
        font-size: 36px;
    }

    .location_location {
        background: white;
        margin: 1rem;
    }

    .location_hostname {
        background: white;
        margin: 1rem;
    }

    .location_tags {
        display: flex;
        padding: 1rem;
    }

    .location_tag {
        font-size: 14px;
        background: #FF6060;
        border-radius: 10px;
        padding: 0.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        margin: 0.2rem;
        color:#F7F7F7;
    }

    .location_btnlist {
        display: flex;
        justify-content: space-between;
        margin: 3rem auto;
    }

    .location_btn {
        width: 100%;
        max-width: 582px;
    }
    
    button {
        display:flex;
        align-items: center;
        justify-content: space-between;
        background: $primary-color;
        border: none;
        border-radius: 5px;
        min-width: 582px;
    }

    h2 {
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color:white;
        font-size: 18px;
    }

    .angle {
        width: 2rem;
        height: 2rem;
    }

     p {
        font-size: 18px;
        line-height: 142.6%;
        background: $background-color;
        margin: 0;
        // padding: 40px 1rem 53px 1rem;
        border-radius: 10px;
     }

     .location_equipment {
        padding: 0;
     }
}
