@import './settings.scss';

body {
  max-width: 1440px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
}

main {
  margin-left: 3rem;
  margin-right: 3rem;
}

// Media Queries Mobile

@media (max-width: 850px) {
  main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}