@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import './settings.scss';

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat';
  color: $primary-color;
}

main {
  flex-grow: 1;
  margin-left: 3rem;
  margin-right: 3rem;
}

footer {
  height: 209px;
}

// Media Queries Mobile

@media (max-width: 850px) {
  main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}