body {
  margin: 0;
  font-family: sans-serif, Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FF6060;
}

main {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}