.homeBanner {
  position: relative;
  height: 223px;
}


@media (max-width: 425px) {
  .homeBanner {
    height: 111px;
  }
    .heroBanner {

      &_text {
        width: 217px;
        left: 40%;
        text-align: left;
        font-size: 24px;
      }
    }
  }