.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &_bg {
        width: 100%;
        height: 223px;
        border-radius: 25px;
        filter: brightness(50%);
    }

    .aboutbutton {
        display:flex;
        flex-direction: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        background: #FF6060;
        border: none;
        border-radius: 5px;
        width: 1023px;
        height: 47px;
    }

    .abouttitle {
        margin: 1rem;
        color:white;
        font-size: 24px;
    }

    &_angle {
        margin: 1rem;
        color:white;
        font-size: 24px;
    }


    .aboutdescription {
        padding: 10px;
        padding-top: 38px;
        margin-top:0;
        background: #F7F7F7;
        color: #FF6060;
        border-radius: 5px;
        font-size: 24px;
        max-width: 1000px;
    }
}

// Media Queries Mobile

@media (max-width: 850px) {
    .about {
        &_bg {
            width: 100%;
        }

        .aboutbutton {
            width: 335px;
        }

        .abouttitle {
            font-size: 13px;
        }
        
        .aboutdescription {
            width: 335px;
            font-size: 12px;
            padding: 0;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
    }
}