@import "../../../styles/settings.scss";

#about {

    .about_bg {
        height: 233px;
    }

    .about_btnlist {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        margin: 3rem auto;
        width: 100%;
        max-width: 1023px;
    }

}

// Media Queries Mobile

@media (max-width: 425px) {
    #about {
        
        .about_btnlist {
            margin-top: 1rem;
        }

        h2 {
            font-size: 12px;
        }

        p {
            font-size: 12px;
            padding: 1rem 1rem 2rem 1rem;
        }

        }
}