.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &_bg {
        width: 1240px;
        height: 223px;
        left: 100px;
        top: 152px;
        border-radius: 25px;
        filter: brightness(50%);
    }

    &_buttons {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_button {
        display:flex;
        flex-direction: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        background: #FF6060;
        border: none;
        border-radius: 5px;
        width: 1023px;
        height: 47px;
    }

    &_title {
        margin: 1rem;
        color:white;
        font-size: 24px;
    }

    &_angle {
        margin: 1rem;
        color:white;
        font-size: 24px;
    }


    &_description {
        padding: 10px;
        padding-top: 38px;
        margin-top:0;
        background: #F7F7F7;
        color: #FF6060;
        border-radius: 5px;
        font-size: 24px;
        max-width: 1000px;
    }
}
  