.heroBanner {
    position: relative;
    
    &_img {
      width: 100%;
      filter: brightness(70%);
      border-radius: 25px;
    }
    
    &_text {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }
  