@import '../../styles/settings.scss';

.kasa{
    display:flex;
    justify-content: space-between;
    margin:3rem;
    align-items: center;

    &_navbar {
        margin: 1rem;
        font-size: 24px;
    }

    &_welcome{
        text-decoration: none;
        margin: 1rem;
        color: $primary-color;
    
        &.active {
            border-bottom: 2px solid;
        }
    }
    
    &_about{
        text-decoration: none;
        margin: 1rem;
        color: $primary-color;
    
        &.active {
            border-bottom: 2px solid;
        }
    }


}