@import '../../styles/settings.scss';

.kasa{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;

    &_navbar {
        margin: 1rem;
        font-size: 24px;
    }

    &_welcome{
        text-decoration: none;
        margin: 1rem;
        color: $primary-color;
    
        &.active {
            text-decoration: underline;
        }

        &.no_underline {
            text-decoration: none;
        }
    }
    
    &_about{
        text-decoration: none;
        margin: 1rem;
        color: $primary-color;
    
        &.active {
            text-decoration: underline;
        }
    }
}

// Media Queries Mobile

@media (max-width: 850px) {
    .kasa {
     margin: 1.5rem;

         &_logo {
             width: 70%;
             height: 70%;
         }

         &_navbar {
             font-size: 12px;
             margin: 0;
             text-transform: uppercase;
         } 

         &_welcome {
             margin-left: 0;
             text-decoration: underline;
         }

         &_about {
             margin: 0;
         }
    }

 }