@import '../../styles/settings.scss';

#header.kasa{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;

    .kasa_navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1rem 0;
        font-size: 24px;
    }

    .kasa_welcome{
        text-decoration: none;
        margin: 1rem;
        color: $primary-color;
    
        &.active {
            text-decoration: underline;
        }

        &.no_underline {
            text-decoration: none;
        }
    }
    
    .kasa_about{
        text-decoration: none;
        margin: 1rem auto;
        color: $primary-color;
    
        &.active {
            text-decoration: underline;
        }
    }
}

// Media Queries Mobile

@media (max-width: 850px) {
    #header.kasa {
     margin: 1.5rem;

         .kasa_logo {
             width: 100%;
         }

         .kasa_navbar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
             font-size: 12px;
             margin: 0;
             text-transform: uppercase;
         } 

         .kasa_welcome {
             margin-left: 0;
             text-decoration: underline;
         }

         .kasa_about {
             margin: 0;
         }
    }

 }