@import "../../styles/settings.scss";

.star {
    fill: $primary-color;
  }
  
  .empty {
    fill: #ddd;
  }
  
  .star,
  .empty {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
  }

// Media Queries Mobile 

@media (max-width: 850px) {
  .star,
  .empty {
    height: 15px;
    width: 15px;
    margin-right: 0.5rem;
  }
}