.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    
    &_box{
        margin-top: 2rem;
    }

    &_text{
        align-items: center;
        margin: 1rem;
    }
}