.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    
    &_box {
        margin-top: 2rem;
    }

    &_text {
        align-items: center;
        margin: 1rem;
        font-size: 24px;
    }


}

// Media Queries Mobile

@media (max-width: 850px) {
    .footer {
        &_text {
            font-size: 12px;
        }
    }
}